#屏蔽当前目录下所有文件及其子目录文件
#这里必须写成/*才能达到后续的效果
#如果写成*,后面的!不会生效
#如果写成/,则表示忽略当前目录,而不是忽略当前目录下的文件
/*

#以下是排除忽略的文件,即:加入版本控制的文件
!build
!go
!src
!pom.xml
!README
!README.md
!LICENSE
!build.gradle
!settings.gradle
!*.gitignore

.DS_Store
*.h
*.so*
*.dll*
*.exe*
